<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">settings_applications</i>
                        </div>
                        <h4 class="card-title">Nuevo Concepto de Uso</h4>
                    </div>
                    <div class="card-body ">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="col-md-9">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Descripcion" type="text" name="descripcion" autocomplete="off"
                                           ngModel required>
                                </mat-form-field>
                            </div>

                            <div class="col-md-9">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cantidad Requerida" type="text" name="cantidadRequerida"
                                           autocomplete="off"
                                           ngModel required>
                                </mat-form-field>
                            </div>

                             <button [disabled]="!form.form.valid" type="submit" class="btn btn-fill btn-warning">
                                    Enviar
                                </button>
                                <button mat-raised-button class="btn btn-fill" type="button" (click)="this.location.back()">
                                    Cancelar
                                </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
