<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">account_box</i>
                        </div>
                        <h4 class="card-title">Nuevo Cliente</h4>
                    </div>
                    <div class="card-body ">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombre" type="text" name="nombre" autocomplete="off"
                                               ngModel required>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Apellido" type="text" name="apellido"
                                               autocomplete="off"
                                               ngModel required>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Teléfono" type="text" name="telefono"
                                               autocomplete="off"
                                               ngModel required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="text" name="email" autocomplete="off"
                                               ngModel required>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nro Documento" type="text" name="nroDocumento" autocomplete="off"
                                               ngModel required>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field>
                                        <input matInput [matDatepicker]="picker" placeholder="Fecha"
                                               (click)="picker.open()" ngModel name="fechaNacimiento" required>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                </div>

                            </div>

                                <button [disabled]="!form.form.valid" type="submit" class="btn btn-fill btn-warning">
                                    Enviar
                                </button>
                                <button mat-raised-button class="btn btn-fill" type="button" (click)="this.location.back()">
                                    Cancelar
                                </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
