<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <h4 class="card-title">Cargar Puntos</h4>
                    </div>
                    <div class="card-body ">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="col-md-7">
                                <mat-form-field>
                                    <input matInput placeholder="Seleccionar Cliente " type="text"
                                           [disabled]="true"
                                           value="{{empleadoActual.nombre}} {{empleadoActual.apellido}}">

                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            type="button"
                                            (click)="dialogFilterEmpleado()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>


                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Monto" type="text" name="monto"
                                           autocomplete="off"
                                           ngModel required>
                                </mat-form-field>
                            </div>
                                <button [disabled]="!form.form.valid || this.empleadoActual.nombre === ''" type="submit" class="btn btn-fill btn-warning">
                                    Enviar
                                </button>
                                <button mat-raised-button class="btn btn-fill" type="button" (click)="this.location.back()">
                                    Cancelar
                                </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
