<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Vencimiento de Puntos de Clientes</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <button [disabled]="clientes.length===0" (click)="exportAsXLSX()"
                                    class="btn btn-fill btn-danger">
                                 <span class="mat-button-wrapper">
                                    <i class="material-icons">
                                    insert_drive_file
                                </i>
                                Exportar a Excel
                                </span>
                            </button>
                            <button [disabled]="clientes.length===0" (click)="exportAsPDF()"
                                    class="btn btn-fill btn-danger">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">
                                    picture_as_pdf
                                </i>
                                Exportar a PDF
                                </span>

                            </button>

                        </div>
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Dias" type="text" name="dias"
                                           autocomplete="off"
                                           ngModel required>
                                </mat-form-field>
                            </div>
                            <div class="card-footer ">
                                <button [disabled]="!form.form.valid" type="submit" class="btn btn-fill btn-warning">
                                    Enviar
                                </button>

                            </div>
                        </form>
                        <div class="row" *ngIf="mensajeResponse !== ''">
                            <div class="alert alert-warning">
                                <button aria-label="Close" class="close mat-button" data-dismiss="alert" mat-button=""
                                        type="button">
                                    <span class="mat-button-wrapper"><i class="material-icons">close</i></span>
                                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                    <div class="mat-button-focus-overlay"></div>
                                </button>
                                <span>{{mensajeResponse}}</span>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div   class="col-md-4" *ngFor="let cliente of clientes">
                        <div class="card background">
                            <div class="card-header">


                                <u><i class="material-icons">vpn_key</i> ID: </u>{{cliente.clienteId}}<br>
                                <u><i class="material-icons">person</i> Nombre y Apellido: </u>{{cliente.nombre}} {{cliente.apellido}}<br>
                                <u><i class="material-icons">
                                    description
                                </i> Nro Documento: </u>{{cliente.nroDocumento}}<br>

                                <u><i class="material-icons">
                                    calendar_today
                                </i> Fecha
                                    Caducidad:</u> {{cliente.fechaCaducidad | date: 'dd/MM/yyyy'}}<br>


                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>

    </div>
</div>
