<mat-dialog-content class="mat-typography">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-warning">
                    <h4 class="card-title ">Clientes</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field>
                                <input matInput placeholder="Nombre o Apellido" type="text"
                                       [(ngModel)]="nombreSelected"
                                       (input)="handleFilter()">
                                <span matSuffix aria-label="search">
                                <mat-icon>search</mat-icon>
                            </span>
                                <button (click)="limpiarFiltroNombre()" mat-button matSuffix mat-stroked-button
                                        aria-label="search">
                                    <mat-icon>delete_sweep</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="table-responsive">
                            <table mat-table [dataSource]="dataSource"
                                   class="table">

                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef class="text-warning">
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                                      [checked]="selection.hasValue() && isAllSelected()"
                                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                      [aria-label]="checkboxLabel()">
                                        </mat-checkbox>
                                    </th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="$event ? selection.toggle(element) : null"
                                                      [checked]="selection.isSelected(element)"
                                                      [aria-label]="checkboxLabel(element)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>


                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef>
                                        Nombre
                                    </th>
                                    <td mat-cell
                                        *matCellDef="let element"> {{element.nombre }} </td>

                                </ng-container>

                                <ng-container matColumnDef="apellido">
                                    <th mat-header-cell *matHeaderCellDef>Apellido</th>
                                    <td mat-cell
                                        *matCellDef="let element"> {{element.apellido}}</td>
                                </ng-container>


                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>

                        </div>
                        <ul class="pagination">
                            <li class="page-item">
                                <button mat-button class="page-link" aria-label="Previous" [disabled]="!paginationService.hasPrevious()" (click)="goAnterior()">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Anterior</span>
                                </button>
                            </li>
                            <p class="text-muted">| Página {{paginationService.page+1}}|</p>
                            <li class="page-item">
                                <button mat-button class="page-link" aria-label="Next" [disabled]="dataSource===null" (click)="goSiguiente()">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Siguiente</span>
                                </button>
                            </li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [disabled]="buscadorService.isRequired() && selection.selected.length===0"
            [mat-dialog-close]="true" (click)="setCliente()">Seleccionar
    </button>
    <button mat-button mat-dialog-close>Cancelar</button>

</mat-dialog-actions>
