<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Lista de Conceptos de Uso de Puntos</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <a routerLink="../nuevo" class="btn btn-danger btn-round btn-fab mat-raised-button" mat-min-fab="" mat-raised-button="">
                                <span class="mat-button-wrapper"><i class="material-icons">add</i></span>
                                <div class="mat-button-ripple mat-ripple" matripple=""></div>
                                <div class="mat-button-focus-overlay"></div>
                            </a>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <tr>
                                        <th>Descripcion</th>
                                        <th>Cantidad Requerida</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr *ngFor="let e of dataSource">
                                        <td>{{e.descripcion}}</td>
                                        <td>{{e.cantidadRequerida}}</td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <ul class="pagination">
                            <li class="page-item">
                                <button mat-button class="page-link" aria-label="Previous" [disabled]="!paginationService.hasPrevious()" (click)="goAnterior()">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i>Anterior</span>
                                </button>
                            </li>
                            <p class="text-muted">| Página {{paginationService.page+1}}|</p>
                            <li class="page-item">
                                <button mat-button class="page-link" aria-label="Next" [disabled]="dataSource===null" (click)="goSiguiente()">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Siguiente</span>
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
