<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Reporte de Usos de Puntos</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <button [disabled]="dataSource.length===0" (click)="exportAsXLSX()"
                                    class="btn btn-fill btn-danger">
                                 <span class="mat-button-wrapper">
                                    <i class="material-icons">
                                    insert_drive_file
                                </i>
                                Exportar a Excel
                                </span>
                            </button>
                            <button [disabled]="dataSource.length===0" (click)="exportAsPDF()"
                                    class="btn btn-fill btn-danger">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">
                                    picture_as_pdf
                                </i>
                                Exportar a PDF
                                </span>

                            </button>

                        </div>

                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input matInput placeholder="Filtrar por Cliente " type="text" [disabled]="true"
                                           value="{{(clienteSelected==='null')? 'Todos': clienteSelected.nombre}} {{(clienteSelected!=='null')?clienteSelected.apellido: ''}}">

                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            (click)="dialogFilterCliente()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            (click)="limpiarFiltroCliente()">
                                        <mat-icon>delete_sweep</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let bolsa of dataSource">
                        <div class="card">
                            <div class="card-header">

                                    <u><i class="material-icons">vpn_key</i> ID Bolsa: </u>{{bolsa.id}}<br>

                                        <u><i class="material-icons">
                                            person
                                        </i> Cliente: </u>{{bolsa.cliente.nombre}} {{bolsa.cliente.apellido}}<br>

                                    <u><i class="material-icons">
                                        info
                                    </i> Estado:</u> {{bolsa.estado}}<br>
                                    <u><i class="material-icons">
                                        calendar_today
                                    </i> Fecha
                                        Asignacion:</u> {{bolsa.fechaAsignacion | date: 'dd/MM/yyyy'}}<br>

                                    <u><i class="material-icons">
                                        calendar_today
                                    </i> Fecha
                                        Caducidad:</u> {{bolsa.fechaCaducidad | date: 'dd/MM/yyyy'}}<br>

                                    <u> <i class="material-icons">
                                        attach_money
                                    </i> Monto:</u> {{bolsa.monto | number}}<br>
                                    <u> <i class="material-icons">
                                        playlist_add_check
                                    </i> Puntaje asignado:</u> {{bolsa.puntajeAsignado}}<br>

                                    <u> <i class="material-icons">
                                        done
                                    </i> Puntaje
                                        utilizado:</u> {{bolsa.puntajeUtilizado}}<br>
                                     <i class="material-icons">
                                        account_balance_wallet
                                    </i> Saldo:{{bolsa.saldo}}<br>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
