<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">today</i>
                        </div>
                        <h4 class="card-title">Editar Parámetro de Vencimiento</h4>
                    </div>
                    <div class="card-body ">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="fechaInicioValidez" placeholder="Fecha de Inicio de Validez"
                                           (click)="fechaInicioValidez.open()" ngModel
                                           [(ngModel)]='parametroVencimiento.fechaInicioValidez' name="fechaInicioValidez" required>
                                    <mat-datepicker-toggle matSuffix [for]="fechaInicioValidez"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaInicioValidez></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field>
                                    <input matInput [matDatepicker]="fechaFinValidez" placeholder="Fecha de Fin de  Validez"
                                           (click)="fechaFinValidez.open()" ngModel
                                           [(ngModel)]='parametroVencimiento.fechaFinValidez' name="fechaFinValidez" required>
                                    <mat-datepicker-toggle matSuffix [for]="fechaFinValidez"></mat-datepicker-toggle>
                                    <mat-datepicker #fechaFinValidez></mat-datepicker>
                                </mat-form-field>
                            </div>

                            <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Dias de duracion" type="text" name="diasDuracion"
                                           autocomplete="off"
                                           ngModel  [(ngModel)]='parametroVencimiento.diasDuracion' >
                                </mat-form-field>
                            </div>
                                <button [disabled]="!form.form.valid" type="submit" class="btn btn-fill btn-warning">
                                    Enviar
                                </button>
                                <button mat-raised-button class="btn btn-fill" type="button" (click)="this.location.back()">
                                    Cancelar
                                </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
