<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Lista de Reglas de Asignación de Puntos</h4>
                    </div>
                    <div class="card-body">
                        <a routerLink="../nuevo" class="btn btn-danger btn-round btn-fab mat-raised-button" mat-min-fab="" mat-raised-button="">
                            <span class="mat-button-wrapper"><i class="material-icons">add</i></span>
                            <div class="mat-button-ripple mat-ripple" matripple=""></div>
                            <div class="mat-button-focus-overlay"></div>
                        </a>
                        <div class="row">
                            <div class="table-responsive col-md-6">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <tr>
                                        <th>Monto de Equivalencia</th>
                                        <th>Limite Inferior</th>
                                        <th>Limite Superior</th>
                                        <th>Acciones</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <tr *ngFor="let e of dataSource">
                                        <td>{{e.montoEquivalencia | number}}</td>
                                        <td>{{e.limiteInferior| number}}</td>
                                        <td>{{e.limiteSuperior| number}}</td>
                                        <td><a a routerLink="../editar/{{e.id}}" class="btn btn-sm mat-raised-button"><i class="material-icons">edit</i></a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
