<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">pie_chart</i>
                        </div>
                        <h4 class="card-title">Editar Regla de Asignacion</h4>
                    </div>
                    <div class="card-body ">
                        <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                            <div class="col-md-9">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Monto de Equivalencia" type="text" name="montoEquivalencia" autocomplete="off"
                                           [(ngModel)]="reglaAsignacion.montoEquivalencia" ngModel required>
                                </mat-form-field>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Limite Inferior" type="text" name="limiteInferior"
                                               autocomplete="off"
                                               [(ngModel)]="reglaAsignacion.limiteInferior" ngModel>
                                    </mat-form-field>
                                </div>

                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Limite Superior" type="text" name="limiteSuperior"
                                               autocomplete="off"
                                               [(ngModel)]="reglaAsignacion.limiteSuperior" ngModel>
                                    </mat-form-field>
                                </div>
                            </div>

                                <button [disabled]="!form.form.valid" type="submit" class="btn btn-fill btn-warning">
                                    Enviar
                                </button>
                                <button mat-raised-button class="btn btn-fill" type="button" (click)="this.location.back()">
                                    Cancelar
                                </button>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
