<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title ">Reporte de Uso de Puntos</h4>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <button [disabled]="dataSource.length===0" (click)="exportAsXLSX()"
                                    class="btn btn-fill btn-danger">
                                 <span class="mat-button-wrapper">
                                    <i class="material-icons">
                                    insert_drive_file
                                </i>
                                Exportar a Excel
                                </span>
                            </button>
                            <button [disabled]="dataSource.length===0" (click)="exportAsPDF()"
                                    class="btn btn-fill btn-danger">
                                <span class="mat-button-wrapper">
                                    <i class="material-icons">
                                    picture_as_pdf
                                </i>
                                Exportar a PDF
                                </span>

                            </button>

                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input matInput placeholder="Filtrar por Cliente " type="text" [disabled]="true"
                                           value="{{(clienteSelected==='null')? 'Todos': clienteSelected.nombre}} {{(clienteSelected!=='null')?clienteSelected.apellido: ''}}">

                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            (click)="dialogFilterCliente()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            (click)="limpiarFiltroCliente()">
                                        <mat-icon>delete_sweep</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <input matInput placeholder="Filtrar por Concepto de Uso " type="text"
                                           [disabled]="true"
                                           value="{{(conceptoSelected==='null')? 'Todos': conceptoSelected.descripcion}}">

                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            (click)="dialogFilterConceptoUso()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-button matSuffix mat-stroked-button aria-label="search"
                                            (click)="limpiarFiltroConceptoUso()">
                                        <mat-icon>delete_sweep</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" *ngFor="let e of dataSource">
                        <div class="card">
                            <div class="card-header">
                                 <b><u><i class="material-icons">vpn_key</i> ID: </u></b>{{e.id}} <br>
                                <i class="material-icons">calendar_today</i> {{e.fecha | date: 'dd/MM/yyyy'}} <br>

                                <b><u><i class="material-icons">done</i> Puntaje Utilizado:</u></b> {{e.puntajeUtilizado}}<br>
                                <b><u> <i class="material-icons">help</i>  Concepto de uso:</u></b> {{e.vale.descripcion}}<br>
                                <hr>
                                <p style="text-align: center;">
                                    <b><u>Detalle de uso</u></b>
                                </p>
                                <hr>
                                <div id="accordion" role="tablist">
                                    <div class="card-collapse" *ngFor="let detalle of e.usoDetalle">
                                        <div class="card-header" role="tab" id="heading{{detalle.id}}">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" href="#collapse{{detalle.id}}" aria-expanded="false" [attr.aria-controls] ="'collapse'+detalle.id" class="collapsed">
                                                    Detalle ID: {{detalle.id}}
                                                    <i class="material-icons">keyboard_arrow_down</i>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapse{{detalle.id}}" class="collapse" role="tabpanel"  [attr.aria-controls] ="'heading'+detalle.id" data-parent="#accordion" style="">
                                            <div class="card-body">
                                                <u><b><i class="material-icons">
                                                    thumb_up
                                                </i>Puntaje Utilizado: </b></u>{{detalle.puntajeUtilizado}}
                                                <br><br>
                                                <h6 class="text-center">Detalle de uso de Bolsa:</h6>
                                                <u><i class="material-icons">vpn_key</i> ID Bolsa: </u>{{detalle.bolsaPuntos.id}}
                                                    <br>
                                                    <u><i class="material-icons">
                                                        person
                                                    </i> Cliente: </u>{{detalle.bolsaPuntos.cliente.nombre}} {{detalle.bolsaPuntos.cliente.apellido}}
                                                <br>
                                                    <u><i class="material-icons">
                                                        info
                                                    </i> Estado:</u> {{detalle.bolsaPuntos.estado}}
                                                    <br>
                                                    <u><i class="material-icons">
                                                        calendar_today
                                                    </i> Fecha
                                                        Asignacion:</u> {{detalle.bolsaPuntos.fechaAsignacion | date: 'dd/MM/yyyy'}}
                                                    <br>

                                                    <u><i class="material-icons">
                                                        calendar_today
                                                    </i> Fecha
                                                        Caducidad:</u> {{detalle.bolsaPuntos.fechaCaducidad | date: 'dd/MM/yyyy'}}
                                                <br>
                                                   <u> <i class="material-icons">
                                                        attach_money
                                                    </i> Monto:</u> {{detalle.bolsaPuntos.monto | number}}
                                                <br>
                                                    <u> <i class="material-icons">
                                                        playlist_add_check
                                                    </i> Puntaje asignado:</u> {{detalle.bolsaPuntos.puntajeAsignado}}
                                                <br>
                                                    <u> <i class="material-icons">
                                                        done
                                                    </i> Puntaje
                                                        utilizado:</u> {{detalle.bolsaPuntos.puntajeUtilizado}}
                                                <br>
                                                    <u><i class="material-icons">
                                                        account_balance_wallet
                                                    </i> Saldo:</u> {{detalle.bolsaPuntos.saldo}}

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
